# Pandas Datareader

** NOTE: Not every geographical location works well with pandas datareader, your firewall may also block it!**

Functions from pandas_datareader.data and pandas_datareader.wb extract data from various Internet sources into a pandas DataFrame. Currently the following sources are supported:

* Yahoo! Finance
* Google Finance
* Enigma
* St.Louis FED (FRED)
* Kenneth Frenchâ€™s data library
* World Bank
* OECD
* Eurostat
* Thrift Savings Plan
* Oanda currency historical rate
* Nasdaq Trader symbol definitions (remote_data.nasdaq_symbols)

It should be noted, that various sources support different kinds of data, so not all sources implement the same methods and the data elements returned might also differ.

In [23]:
import pandas_datareader.data as web

import datetime

start = datetime.datetime(2008, 1, 1)

end = datetime.datetime(2018, 1, 1)

facebook = web.DataReader("FB", "yahoo", start, end)
att = web.DataReader("T", "yahoo", start, end)

In [25]:
facebook.head()

                 High        Low       Open      Close     Volume  Adj Close
Date
2012-05-18  45.000000  38.000000  42.049999  38.230000  573576400  38.230000
2012-05-21  36.660000  33.000000  36.529999  34.029999  168192700  34.029999
2012-05-22  33.590000  30.940001  32.610001  31.000000  101786600  31.000000
2012-05-23  32.500000  31.360001  31.370001  32.000000   73600000  32.000000
2012-05-24  33.209999  31.770000  32.950001  33.029999   50237200  33.029999

In [26]:
att.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2008-01-02  41.919998  40.750000  41.509998  41.000000  20293800.0  22.184895
2008-01-03  41.730000  41.000000  41.209999  41.389999  18606200.0  22.395918
2008-01-04  41.770000  40.840000  41.029999  40.889999  20658200.0  22.125378
2008-01-07  41.939999  40.980000  41.060001  41.430000  26773400.0  22.417572
2008-01-08  41.849998  37.139999  41.270000  39.160000  72780000.0  21.395859

### Experimental Options

The Options class allows the download of options data from Google Finance.

The get_options_data method downloads options data for specified expiry date and provides a formatted DataFrame with a hierarchical index, so its easy to get to the specific option you want.

Available expiry dates can be accessed from the expiry_dates property.

In [29]:
from pandas_datareader.data import Options

fb_options = Options('FB', 'yahoo')

ImmediateDeprecationError:
Yahoo Options has been immediately deprecated due to large breaks in the API without the
introduction of a stable replacement. Pull Requests to re-enable these data
connectors are welcome.

See https://github.com/pydata/pandas-datareader/issues

In [27]:
data = fb_options.get_options_data(expiry=fb_options.expiry_dates[0])

NameError: name 'fb_options' is not defined

In [10]:
data.head()

                                            Last     Bid     Ask  Chg  PctChg  \
Strike Expiry     Type Symbol
5.0    2018-01-19 call FB180119C00005000  149.10  150.00  150.65  0.3    0.20
                  put  FB180119P00005000    0.01     NaN    0.03  0.0    0.00
10.0   2018-01-19 call FB180119C00010000  143.20  145.05  145.75 -0.5   -0.35
                  put  FB180119P00010000    0.01     NaN    0.02  0.0    0.00
15.0   2018-01-19 call FB180119C00015000  135.80  140.10  140.80  0.0    0.00

                                           Vol  Open_Int Root  \
Strike Expiry     Type Symbol
5.0    2018-01-19 call FB180119C00005000  50.0    9528.0   FB
                  put  FB180119P00005000   NaN    3053.0   FB
10.0   2018-01-19 call FB180119C00010000  40.0    2855.0   FB
                  put  FB180119P00010000   NaN    2056.0   FB
15.0   2018-01-19 call FB180119C00015000   NaN     240.0   FB

                                          Underlying_Price  \
Strike Expiry     Type Symbol
5.0    2018-01-19 call FB180119C00005000            155.27
                  put  FB180119P00005000            155.27
10.0   2018-01-19 call FB180119C00010000            155.27
                  put  FB180119P00010000            155.27
15.0   2018-01-19 call FB180119C00015000            155.27

                                                         Quote_Time
Strike Expiry     Type Symbol
5.0    2018-01-19 call FB180119C00005000 2017-07-11 23:35:24.466303
                  put  FB180119P00005000 2017-07-11 23:35:24.466303
10.0   2018-01-19 call FB180119C00010000 2017-07-11 23:35:24.466303
                  put  FB180119P00010000 2017-07-11 23:35:24.466303
15.0   2018-01-19 call FB180119C00015000 2017-07-11 23:35:24.466303

# FRED

In [11]:
import pandas_datareader.data as web

import datetime

start = datetime.datetime(2010, 1, 1)

end = datetime.datetime(2017, 1, 1)

gdp = web.DataReader("GDP", "fred", start, end)

In [12]:
gdp.head()

                GDP
DATE
2010-01-01  14681.1
2010-04-01  14888.6
2010-07-01  15057.7
2010-10-01  15230.2
2011-01-01  15238.4